@import "tailwindcss";

@tailwind utilities;

@theme {
  --color-primary: #61aeb8;
  --color-surface: #1e1e1e;
  /* --color-secondary: colors.indigo[950]; */
  --breakpoint-sm: 420px;
  --breakpoint-md: 640px;
  --breakpoint-lg: 1000px;
  --breakpoint-xl: 1440px;
}

@layer base {
  h1 {
    @apply text-2xl sm:text-3xl;
  }

  h2 {
    @apply text-xl sm:text-2xl;
  }

  h3 {
    @apply text-sm sm:text-base;
  }

  a {
    @apply hover:underline;
  }

  .actions input {
    @apply cursor-pointer;
  }

  button,
  .button {
    @apply bg-indigo-900 text-white font-bold py-2 px-4 rounded hover:bg-indigo-800 hover:no-underline;
  }

  .special-button {
    @apply text-center font-bold py-2 px-4 rounded bg-primary hover:bg-[#51c0cf] hover:no-underline;
  }

  .field input {
    @apply bg-transparent rounded-md shadow-inner ring-offset-transparent ring-offset-0;
  }

  .text-button {
    @apply bg-transparent hover:bg-transparent p-0;
  }

  .tooltip {
    position: relative;
    display: inline-block;
  }

  .tooltip .tooltiptext {
    @apply text-sm;
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    position: fixed;
    z-index: 9999;
    bottom: 100%;
    left: 50%;
    /* margin-left: -60px; */

    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;

    transform: translateZ(0);
    filter: drop-shadow(0 0 1px rgba(0, 0, 0, 0.2));
  }

  .tooltip:after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 50%;
    margin-left: -5px;
    border-width: 5px 5px 0;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.8) transparent transparent;
  }

  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 0.75;
  }

  .access-code-text {
    font-family: "Ubuntu Sans Mono", monospace;
    font-optical-sizing: auto;
    /* font-weight: <weight>; */
    font-style: normal;
  }

  .branded-text {
    /* font-family: "" Caveat, Montserrat Alternatives, Poetsen One, Kalam, Pangolin, Playpen Sans,  */
    font-family: "Solitreo", cursive;
    font-weight: 400;
    font-style: normal;
  }

  .flash-error {
    @apply text-red-700;
  }

  .vertical-divider {
    display: inline-block;
    width: 1px;
    background-color: #e0e0e0;
    height: 100%;
    margin: 0 10px;
  }
}

* {
  /* background-color: #04011f; */
  color: #eee;
}
