@import "tailwindcss";
/* @import "tailwindcss/forms"; */

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind utilities;

@theme {
  --color-primary: #61aeb8;
  --color-secondary: #255961;
  --color-surface: rgb(3 7 18);
  --color-on-surface: #eee;
  --color-on-surface-variant: #c9c9c9;
  --font-roboto: "Roboto", sans-serif;
  /* --color-secondary: colors.indigo[950]; */
  --breakpoint-sm: 420px;
  --breakpoint-md: 640px;
  --breakpoint-lg: 1000px;
  --breakpoint-xl: 1440px;
}

@layer base {
  * {
    /* background-color: #04011f; */
    color: var(--color-on-surface);
  }

  body {
    @apply bg-surface;
    @apply font-roboto;

    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
  }
  h1 {
    @apply text-2xl sm:text-3xl;
  }

  h2 {
    @apply text-xl sm:text-2xl;
  }

  h3 {
    @apply text-sm sm:text-base;
  }

  a {
    @apply hover:underline;
  }

  input {
    @apply focus:outline-none border-secondary focus:border-primary border-1 focus:border-2 focus:ring-0 px-2 py-1 accent-primary text-on-surface;
  }

  .field input {
    @apply rounded-md shadow-inner text-on-surface;
  }

  input:is(:-webkit-autofill, :autofill) {
    box-shadow: 0 0 0 30px var(--color-secondary) inset !important;
    -webkit-text-fill-color: var(--color-on-surface);
    font-family: "system-ui", sans-serif !important;
    font-size: inherit !important;
    font-weight: inherit !important;
    zoom: 1 !important;

    /* transition: all 99999s ease-in-out 0s !important; */

    /* background-color: var(--color-secondary); */
    /* color: theme('colors.gray.100') !important; */
    /* -webkit-text-size-adjust: none; */
  }

  input[type="checkbox"] {
    @apply h-5 w-5 border-secondary checked:accent-primary checked:border-2 checked:border-primary checked:bg-primary text-on-surface;
  }

  input:checked[type="checkbox"] {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='rgb(3 7 18)' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e") !important;
    background-color: var(--color-primary) !important;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 130% 130%;
  }

  .actions input {
    @apply cursor-pointer;
  }

  button,
  .button {
    @apply bg-indigo-900 text-white font-bold py-2 px-4 rounded hover:bg-indigo-800 hover:no-underline;
  }

  .special-button {
    @apply text-center font-bold py-2 px-4 rounded bg-primary hover:bg-[#51c0cf] hover:no-underline;
  }

  .text-button {
    @apply bg-transparent hover:bg-transparent p-0;
  }

  .tooltip {
    position: relative;
    display: inline-block;
  }

  .tooltip .tooltiptext {
    @apply text-sm;
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    position: fixed;
    z-index: 9999;
    bottom: 100%;
    left: 50%;
    /* margin-left: -60px; */

    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;

    transform: translateZ(0);
    filter: drop-shadow(0 0 1px rgba(0, 0, 0, 0.2));
  }

  .tooltip:after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 50%;
    margin-left: -5px;
    border-width: 5px 5px 0;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.8) transparent transparent;
  }

  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 0.75;
  }

  .access-code-text {
    font-family: "Ubuntu Sans Mono", monospace;
    font-optical-sizing: auto;
    /* font-weight: <weight>; */
    font-style: normal;
  }

  .access-code-input {
    @apply font-mono text-on-surface-variant;

    /* font-family: "Ubuntu Sans Mono", monospace; */

    /* font-optical-sizing: auto; */
    /* font-weight: <weight>; */
    /* font-style: normal; */
  }

  /* .roboto {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
  } */

  .branded-text {
    /* font-family: "" Caveat, Montserrat Alternatives, Poetsen One, Kalam, Pangolin, Playpen Sans,  */
    font-family: "Solitreo", cursive;
    font-weight: 400;
    font-style: normal;
  }

  .flash-error {
    @apply text-red-700;
  }

  .vertical-divider {
    display: inline-block;
    width: 1px;
    background-color: #e0e0e0;
    height: 100%;
    margin: 0 10px;
  }
}
