# These values should not be committed to source control. Save them as repository secrets, and they will be filled in by the CI/CD pipeline.
RAILS_ENV=
RAILS_MASTER_KEY=

# These are okay to commit to source control. They can be set explicitly here, or they can be configured as the sensitive values above.
DOMAIN=echolect.co
LETSENCRYPT_CONTACT_EMAIL=leland@landho.me

# This should be echoed by bin/test/echo-env.sh in the remote directory"
TEST_ENV_MESSAGE="Find me in local server/.env.template!"