<%= cable_ready_stream_from "chat-#{chat.id}-messages" %>
<div class="flex flex-col">
  <h2>Messages</h2>
  <div
    id="chat-<%=chat.id%>-messages"
    class="flex flex-col-reverse"
  >
    <% chat.messages.order(created_at: :asc).reverse.each do |message| %> <%=
    render partial: "messages/message", locals: { message: message } %> <% end
    %>
  </div>
</div>
