<h1>Chats</h1>
<br/>

<%= render partial: 'chats/join_chat_form' %>
<br/>
<%= render partial: 'chats/joined_chats' %>

<br/>
<br/>

<%= render partial: 'chats/create_chat_form' %>
<br/>
<%= render partial: 'chats/created_chats' %>