<div>
  <form
    data-controller="chats"
    data-reflex="submit->Chats#join"
    data-reflex-root="#user-joined-chats"
    data-reflex-serialize-form>
    <div class="flex flex-row gap-2">
      <div class="field">
        <input
          class="flex-1 bg-transparent"
          data-reflex-chat-code
          type="text"
          name="chat[code]"
          placeholder="Access Code">
      </div>
      <button type="submit" id="join-chat">Join</button>
    </div>
  </form>
</div>
