<div
    id="speaker-view"
    class="flex flex-row gap-4 min-h-0"
  >
  <div class="basis-3/4 flex-grow min-h-0 flex">
    <%= render partial: "chats/chat_messages", locals: { chat: chat } %>
  </div>
  <div class="basis-1/4 flex-grow min-h-0 flex">
    <%= render partial: "chats/chat_reactions", locals: { chat: chat } %>
  </div>
</div>
