<div id="speaker-view" class="flex flex-col flex-1 overflow-y-auto">
		<div  class="flex flex-row flex-1 overflow-y-auto gap-5">
			<%= render partial: 'chats/chat_messages', locals: { chat: chat } %>
			<%= render partial: 'chats/chat_reactions', locals: { chat: chat } %>
		</div>
	</div>