<div id="speaker-view" class="flex flex-col md:flex-row flex-1 overflow-y-auto gap-5">
	<%= render partial: 'chats/chat_messages', locals: { chat: chat } %>
	<%= render partial: 'chats/chat_reactions', locals: { chat: chat } %>
</div>